<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <div>
      <label for="username">Username</label>
      <input id="username" type="text" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)" class="error-message">
        <span *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</span>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <p class="form-link">
      Don't have an account? <a routerLink="/register">Register here</a>
    </p>
    <p class="form-link">
      <a routerLink="/forgot-password">Forgot Password?</a>
    </p>
  </form>
</div>